@{

}

@model IQueryable<Product>

    <h1>Shop our products</h1>

    @foreach (Product p in Model)
    {
        <img src="@p.ImgLink" alt="@p.Name" style="width: 200px; height: auto;" /> <!-- Adjust the width as needed -->
        <h3>@Html.Raw(p.Name.Replace("LEGO®", "LEGO&reg;").Replace("™", "&trade;"))</h3>
        <h6>$@p.Price</h6>
    }


    <a asp-controller="home" asp-action="Products" asp-route-pageNum="1">1</a>
    <a asp-controller="home" asp-action="Products" asp-route-pageNum="2">2</a>
    <a asp-controller="home" asp-action="Products" asp-route-pageNum="3">3</a>